
.help
  background: url('../images/icons/point.png') no-repeat 0 0
  padding: 10px 10px 10px 42px
  
.question-help
  background: url('../images/icons/info.png') no-repeat 11px center $filler2
  border: 1px solid $filler2 - #111
  font-size: 11px
  line-height: 1.5
  margin-bottom: 10px
  padding: 15px 15px 15px 45px
  +border-radius(3px)
  +text-shadow(#fff, 0, 1px, 0)

.message
  &.login
    background: $filler
    border: 1px solid $filler - #111
    color: $no
    font-size: 11px
    margin: 15px auto 0
    padding: 10px
    text-align: center
    width: 400px
    +border-radius
    +text-shadow(#fff, 0, 1px, 0)
