.element-bool
  float: left
.question-checkbox
  li
    clear: both
    padding: 5px 10px
  input[type=checkbox]
    margin: 0 5px 0 0
    
.form-actions
  border-top: 2px solid $filler
  margin-top: 15px
  +pie-clearfix
  li
    display: inline
    float: left
    padding: 10px 0 10px 10px
    
.go-back
  color: $no
  display: block
  font-size: 11px
  opacity: 0.6
  padding: 11px 0 0
  &:hover, &:focus
    opacity: 1
    
.facility-type
  background: $filler
  border: 1px solid $filler - #111
  margin: 15px
  padding: 15px
  +border-radius
  h4
    font-size: 14px
  #facility-type-filter
    color: $primary
    
#incomplete-sections-container li
  padding: 6px 0 0 10px
  
button, input[type=submit], .next
  background: $yes
  border: 1px solid $yes - #222
  clear: both
  color: $filler
  cursor: pointer
  display: inline-block
  font-size: 14px
  font-weight: bold
  padding: 7px 30px
  +border-radius
  +box-shadow(#eee, 1px, 1px, 3px)
  +linear-gradient(color-stops($yes + #090909, $yes))
  +text-shadow($yes - #333, 0, 1px, 0)
  &:hover, &:focus
    background: $yes - #111
    border: 1px solid $yes - #333
    +linear-gradient(color-stops($yes, $yes - #111))
  
select
  background: #f6f6f6
  border: 1px solid $filler - #333
  color: #444
  font: normal 12px Arial, sans-serif
  padding: 2px
  +box-shadow($filler - #111, 1px, 1px, 3px, 0, inset)
  &:hover, &:focus
    background: $filler + #030303
    border-color: $primary

.entity-form-container
  float: left
  border: 2px solid #739eee
  margin: 8px
  padding: 10px 5px 10px 5px
  
  .entity-form-header
    background-color: #739eee 
    .title
      float: left
      color: #fff
      margin: 3px 2px 2px 3px
       
    .locales
      float: right
      padding: 4px
    
      a
        padding: 2px
    
      a.no-link
        font-weight: bold
        
  .forms-container 
    width: 100%
        
  .data-search-column
    float: right
    width: 470px
    
    input.radio
      width: auto
  
      label
        font-weight: bold
        margin-bottom: 2px
    
      #data
        width: 600px
    
  .data-field-column
    float: left
    width: 460px

.entity-form-container form
  position: relative
  border: none
  background-color: inherit
  
  .row
    width: 400px
    margin: 4px
    
    .error-list
      height: 14px

  input, textarea
    width: 290px
    
  input.radio
    width: auto
  
  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  button
    float: right
    
.focus-field
  border: solid 1px $filler - #222
  background: $filler + #060606
  color: #333
  
.idle-field
  background: #f6f6f6
  border: 1px solid $filler - #333
  color: #444
  font: normal 12px Arial, sans-serif
  padding: 2px
  text-align: right
  +box-shadow($filler - #111, 1px, 1px, 3px, 0, inset)
  &:hover, &:focus
    background: $filler + #030303
    border-color: $primary
  
.completed-field
  background: #ededed
  color: #333
  border: solid 1px $yes
  
.ajax-search-field
  width: 340px
  
.login-field
  background: $filler
  border: 1px solid $filler - #333
  color: #444
  font: normal 16px 'Lucida Grande', Arial, sans-serif
  padding: 4px
  text-align: center
  width: 154px
  +box-shadow($filler - #111, 1px, 1px, 3px, 0, inset)
  &:hover, &:focus
    background: $filler + #030303
    border-color: $primary
    
.login-label
  color: $primary
  font-family: 'Lucida Grande', Arial, sans-serif
  font-size: 11px
  margin: 0 auto
  padding: 3px
  text-align: center
  width: 154px
  
ul.filtered
  border: 1px solid lightGrey
  padding: 4px
  height: 270px
  overflow: auto
  
  li
    display: block
    white-space: nowrap

    span
      color: grey

  li:hover
    background-color: yellow
