#header
  background: url('../images/bg/header_bg.png') repeat-x center #333
  height: 90px
  +pie-clearfix
  
#logo
  color: $primary_alt
  font-size: 42px
  font-weight: bold
  +text-shadow(#fff, 0, 1px, 0)