#header
  background: url('../images/bg/header_bg.png') repeat-x center
  height: 90px
  +pie-clearfix
  
#logo
  color: $primary_alt
  font: normal 48px "Droid-Bold"
  padding-top: 30px
  +text-shadow(#fff, 0, 1px, 0)
  