.wrapper
  margin: 0 auto
  width: 990px
  +pie-clearfix
  
.left
  display: inline
  float: left
  
.right
  display: inline
  float: left
  
#content
  background: url('../images/bg/content_bg.png') repeat-x top center
  
  .wrapper
    background: #fff
    +border-bottom-radius
    +box-shadow(#ccc, 0, 1px, 3px)