
// Languages switch
#switcher, #top_nav
  position: absolute
  top: 0
  +pie-clearfix

  li
    display: inline
    float: left
    margin-left: 3px

  a
    background: $filler
    color: $primary
    display: inline-block
    font-size: 9px
    padding: 7px 6px 5px
    text-decoration: none
    text-transform: uppercase
    +border-bottom-radius(3px)
    &:hover, &:focus, &.no-link
      background: $primary
      color: #fff
      
#switcher
  left: 0
#top_nav
  right: 0


// Main navigation
#navigation
  background: url('../images/bg/nav_bg.png') repeat-x
  height: 42px
  position: relative
  z-index: 50

#main-menu
  float: left
  +pie-clearfix
  > li
    display: inline
    float: left
    position: relative
    &:first-child
      border-left: 1px solid $primary_light
    &:last-child
      border-right: 1px solid $primary_dark
    &:hover .submenu
      display: block

  a
    border-left: 1px solid $primary_dark
    border-right: 1px solid $primary_light
    color: #fff
    display: inline-block
    font-size: 12px
    font-weight: bold
    padding: 15px 22px
    text-decoration: none
    +text-shadow(rgba(0, 0, 0, 0.3), 0, 1px, 0)
    &:hover, &:focus, &.active
      background: $primary_dark
      +box-shadow($primary - #222, 0, -3px, 8px, 6px, inset)
    &:active
      +box-shadow($primary - #292929, 0, -2px, 10px, 10px, inset)

  .submenu
    background: $primary
    border: 1px solid $primary_dark
    display: none
    opacity: 0.93
    padding: 5px 0 10px
    position: absolute
    top: 41px
    z-index: 30
    +border-bottom-radius
    +box-shadow(#ccc 2px 2px 3px, $primary_dark 0 0 8px 3px inset)
    a
      border-bottom: 1px solid $primary_dark
      display: block
      font-size: 12px
      font-weight: normal
      padding: 7px 25px 7px
      white-space: nowrap
      &:hover, &:focus
        background: $primary_dark


// Logout navigation
#logout
  position: absolute
  right: 0
  top: 100px
  z-index: 60

  li
    display: inline
    float: left
    margin-left: 7px

  a
    background: $primary_dark
    color: $filler
    display: block
    font-size: 11px
    padding: 6px 12px
    text-decoration: none
    +border-radius(3px)
    +box-shadow($primary - #333 0 -2px 9px 1px inset)
    +text-shadow($primary - #333, 0, 1px, 0)
    &:hover, &:focus
      color: #fff
      +box-shadow($primary - #333 0 -2px 9px 4px inset)
    &:active
      +box-shadow($primary - #333 0 2px 9px 4px inset)
    &.redmine
      color: #fff
      opacity: 0.7
      &:hover, &:focus
        opacity: 1


// Sub navigation
.subnav, .entity-form-header
  //background: url('../images/bg/subnav_bg.png') repeat-x
  color: #888
  font-size: 11px
  padding: 30px 15px 25px
  +pie-clearfix
  a
    font-size: 11px
  &.center
    font-size: 14px
    text-align: center

.filter
  display: inline-block
  float: left
  margin-right: 10px
  > span
    display: block
  a
    font: 15px arial
    text-decoration: none
    +text-shadow(#fff 0 1px 0)
    &:hover, &:focus
      +text-shadow($primary - #333 0 1px 0)
  &.right
    float: right
    margin-right: 0

.check_filter
  label, input
    cursor: pointer

.dropdown
  position: relative
  > a
    padding: 12px 18px 10px 40px
    +border-radius(3px)
    +box-shadow($filler - #111 1px 1px 3px inset)
    &:hover, &:focus
      background-color: $primary !important
      color: #fff
      position: relative
      text-decoration: none
      z-index: 20
      +box-shadow($primary - #222 0 2px 9px 0 inset)
      +border-radius(3px)
      +transition(all 0.3s)
    &.program
      background: url("../images/icons/star.png") no-repeat 14px 50% #fcfcfc
      &:hover, &:focus
        background: url("../images/icons/star_hover.png") no-repeat 14px 50%
    &.survey
      background: url("../images/icons/survey.png") no-repeat 14px 50% #fcfcfc
      &:hover, &:focus
        background: url("../images/icons/survey_hover.png") no-repeat 14px 50% #fcfcfc
    &.location
      background: url("../images/icons/marker.png") no-repeat 14px 50% #fcfcfc
      &:hover, &:focus
        background: url("../images/icons/marker_hover.png") no-repeat 14px 50% #fcfcfc
    &.time
      background: url("../images/icons/calendar.png") no-repeat 14px 50% #fcfcfc
      &:hover, &:focus
        background: url("../images/icons/calendar_hover.png") no-repeat 14px 50% #fcfcfc
    &.facility
      background: url("../images/icons/facility.png") no-repeat 14px 50% #fcfcfc
      &:hover, &:focus
        background: url("../images/icons/facility_hover.png") no-repeat 14px 50% #fcfcfc
    &.addnew
      background: url("../images/icons/plus.png") no-repeat 14px 50% #fafdf4
      color: $yes
      &:hover, &:focus
        background: url("../images/icons/plus_hover.png") no-repeat 14px 50% $yes !important
        color: #fff
        +box-shadow($yes - #222 0 2px 9px 0 inset)
        +text-shadow($yes - #222 0 1px 0)
    &.manage-btn
      padding: 5px 8px
      +box-shadow(none)

.dropdown-list
  background: $dropdown
  border: 1px solid $dropdown - #222
  display: none
  left: 0
  min-width: 200px
  opacity: 0.95
  padding: 5px 0 0 0
  position: absolute
  top: 25px
  z-index: 1
  +border-bottom-radius(3px)
  +border-top-right-radius(3px)
  +box-shadow(#ccc 2px 2px 3px, $dropdown - #111 0 0 8px 3px inset)
  
  &.manage-list
    top: 18px

  li
    border-bottom: 1px dotted $dropdown - #191919
    display: block
    padding: 7px 10px 5px
    white-space: nowrap
    &:hover, &:focus
      a
        color: $primary_dark
      .survey-section a
        color: $primary
    &:last-child
      border: none

    a
      color: $primary
      font-size: 10px
      font-weight: bold
      text-decoration: none
      +text-shadow(#fff, 0, 1px, 0)
      &:hover
        color: $primary - #333
        +text-shadow(#fff, 0, 1px, 0)

      &.foldable-toggle
        border: none
        cursor: pointer
        display: block
        float: left
        margin-right: 5px
        width: 15px
        height: 15px
        text-indent: -9999px
        background: url('../images/icons/toggle_plus.png') no-repeat left center
        &.toggled
          background: url('../images/icons/toggle_minus.png') no-repeat left center

      &.dropdown-link
        background: none
        &:hover
          color: $primary - #444
          +text-shadow(#fff, 0, 1px, 0)

      &.opened
        background: $dropdown
        color: $primary - #444
        +text-shadow(#fff, 0, 1px, 0)

  // slister start: added class to survey tree menu objectives
  .survey-objective
    border-top: 1px dotted $dropdown - #191919
    margin-top: 5px
    margin-left: 5px
    +pie-clearfix
  // slister end

  .survey-section
    border-top: 1px dotted $dropdown - #191919
    margin-top: 5px
    margin-left: 5px
    +pie-clearfix

    a
      color: $primary
      padding-right: 10px
      +text-shadow(#fff, 0, 1px, 0)
      &:hover, &:focus
        background: $dropdown
        color: $primary - #444
        +text-shadow(#fff, 0, 1px, 0)

    li
      &:focus, &:hover
        a
          color: $primary - #666
          
.dropdown-check
  background: $filler
  border: 1px solid $dropdown - #111
  display: inline-block 
  margin-right: 5%
  margin-bottom: 3px
  padding: 3px 4px
  text-align: center
  width: 42%
  +border-radius(3px)
  &:hover, &:focus
    border-color: $primary_light

.location-fold
  border-top: 1px solid $dropdown - #191919
  margin-top: 5px
  padding-top: 5px

.foldable
  min-width: 75px
  a.foldable-toggle
    display: block
    cursor: pointer
    width: 20px
    height: 20px
    margin: -3px
    float: left
    text-indent: -9999px
    background-image: url('../images/icons/toggle_plus.png')
    &.toggled
      background-image: url('../images/icons/toggle_minus.png')

  &.opened > span, &.opened > a
    font-weight: bold

.location-fold
  padding: 0 5px

.paginateButtons
  .step
    background: $filler
    border: 1px solid $filler - #111
    color: $primary
    display: inline-block
    margin-right: 4px
    padding: 3px 5px
    text-decoration: none
    +border-radius(2px)
    &:hover, &:focus
      border: 1px solid $filler - #222
      color: $primary - #333
  .currentStep
    background: $primary
    border: 1px solid $primary
    color: #fff
    display: inline-block
    margin-right: 4px
    padding: 3px 5px
    +border-radius(2px)


// Tab navigation

#tab-nav
  background: #eee
  border-bottom: 1px solid #e3e3e3
  margin: -15px -15px 15px
  +linear-gradient(color-stops(#fafafa, #f1f1f1))
  +pie-clearfix
  li
    margin-right: 0
    &.settings
      float: right
      a
        background: #fff
        border: 1px solid #e3e3e3
        color: primary
        font-size: 11px
        letter-spacing: 0.5px
        margin: 8px
        padding: 6px 12px 5px
        +border-radius(3px)
        +box-shadow(#eee 0 0 3px inset)
        &:hover, &:focus, &.selected
          background: #333
          border: 1px solid #222
          color: #fff
          +box-shadow(#111 0 0 3px inset)
          +text-shadow(#000 0 1px 0)
  a
    border-right: 1px solid #e3e3e3
    color: #666
    display: block
    padding: 14px 20px
    text-decoration: none
    +text-shadow(#fff 0 1px 0)
    &:hover, &:focus, &.selected
      background: #fff
      color: $primary
      +linear-gradient(color-stops(#fff, #fff))
      +transition(all .5s)

    &.selected
      border-bottom: 1px solid #fff
      margin-bottom: -1px

// Tab sub-navigation

#tab-subnav
  background: #fff
  border-bottom: 1px solid #e3e3e3
  margin: -15px -15px 15px
  //+linear-gradient(color-stops(#fafafa, #f1f1f1))
  +pie-clearfix
  li
    margin-right: 0
  a
    color: #666
    display: block
    font-size: 11px
    padding: 14px 20px 
    text-decoration: none
    +text-shadow(#fff 0 1px 0)
    &:hover, &:focus, &.selected
      background: #fff
      color: $primary
      +linear-gradient(color-stops(#fff, #fff))
      +transition(all .5s)

    &.selected
      background: url('../images/icons/tab-subnav.png') no-repeat center bottom
      position: relative
      bottom: -1px