body
  background: url('../images/bg/body_bg.png')
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif

h1, h2, h3, h4
  font-family: 'Droid', Arial, Helvetica, sans-serif

a
  color: $primary