.listing
  clear: both
  font-size: 12px
  width: 100%
  th, td
    padding: 7px 12px
  th
    background: $filler
    color: $primary
    &.label
      white-space: nowrap
      a
        font-size: 11px
    
  td
    border-top: 1px solid $filler
    color: #444
    vertical-align: top
    &.header
      color: #888
      font-weight: bold
  
  td:first-child, th:first-child
    border-left: 1px solid $filler
    
  td:last-child, th:last-child
    border-right: 1px solid $filler
    
  tr:last-child td
    border-bottom: 1px solid $filler
    
  &.login
    margin: 0 auto
    width: 160px
    tr:first-child td
      padding-top: 15px
    tr:last-child td
      border-top: 1px dashed $filler - #111
      padding-top: 10px
      padding-bottom: 20px
    td
      border: none
      padding: 0 0 5px
      text-align: center
      
.explanation-heading
  background: $filler
  font-size: 11px
  font-style: italic
  margin-top: 5px
  padding: 7px 13px

.explanation-row
  > td
    border: none
    padding: 0 10px
    
.explanation-cell table
  margin-bottom: 10px
  
.add-row, .element-list-add
  background: $filler
  border: 1px solid $filler - #111
  display: inline-block
  font-size: 10px
  margin-top: 10px
  padding: 7px 15px
  text-decoration: none
  +border-radius(3px)
  +linear-gradient(color-stops($filler + #060606, $filler - #090909))
  +text-shadow(#fff, 0, 1px, 0)
  &:hover, &:focus
    background: $yes
    border: 1px solid $yes - #111
    color: #fff
    +linear-gradient(color-stops($yes + #060606, $yes - #090909))
    +text-shadow($yes - #333, 0, 1px, 0)