.table-wrap
  overflow-x: auto

.listing
  clear: both
  color: #444
  font-size: 12px
  width: 100%
  thead
    background: $filler
    +box-shadow($filler - #111 0 1px 4px inset)

  th, td
    padding: 7px 12px
  th
    color: $primary
    font-size: 11px
    &.label
      white-space: nowrap
    a
      font-size: 11px
        
  tr.left th
    text-align: left

  a, th, td
    line-height: 1.4

  td
    border-top: 1px solid $filler
    color: #444
    font-size: 11px
    vertical-align: top
    &.header
      color: #888
      font-weight: bold

  th:first-child
    border-left: 1px solid $filler

  th:last-child
    border-right: 1px solid $filler
    
  td:first-child
    border-left: 1px solid $dropdown

  td:last-child
    border-right: 1px solid $dropdown

  tr:last-child td
    border-bottom: 1px solid $dropdown
  
  tbody tr:first-child td
    border-top: 1px solid $dropdown

  &.new
    input[type=text], select
      height: 15px
      width: 150px
    select
      height: 24px
      width: 158px
    td
      vertical-align: middle
      
  .status
    width: 1%
    &.complete
      background: url("../images/icons/status_complete.png") no-repeat center right
    &.incomplete
      background: url("../images/icons/status_incomplete.png") no-repeat center right
    &.invalid
      background: url("../images/icons/status_invalid.png") no-repeat center right

// slister start: updates to dsr & fct location tree
.nested
  clear: both
  font-size: 11px
  width: 970px
  // slister end
  
  tr:not(.tree-sign):hover, tr:not(.tree-sign):focus
    > td:not(.bucket)
      background: #f9f9f9
  
  thead
    background: $filler
    border: 1px solid $filler - #111
    border-bottom: none
    color: $primary
    +box-shadow($filler - #111 0 1px 4px inset)
    
  > thead tr:first-child th
    border-bottom: 1px solid $primary

  // slister start: expand & collapse all
  > thead tr:first-child th a.expand-all
    background: url("../images/icons/toggle_plus_large.png") no-repeat 5px center
    font-size: 11px
    padding-left: 20px

  > thead tr:first-child th a.collapse-all
    background: url("../images/icons/toggle_minus_large.png") no-repeat 5px center
    font-size: 11px
    padding-left: 20px
  // slister end: expand & collapse all
    
  > tbody
    border: 1px solid $primary
    margin: 1px
    
  td, th
    padding: 7px
    text-align: right
    width: 200px
    &:first-child
      text-align: left
      width: 370px
      > span:first-child
        display: inline-block
        
    &.bucket
      padding: 0
      
  .sub-tree
    > td
      border-top: 0
    
    // slister start: updates to dsr & fct location tree
    .bucket > table
      width: 970px
      // slister end
      
  td
    border-top: 1px solid #eee
      
  .tree-sign
    background: #f9f9f9
    cursor: pointer
    td:first-child span:first-child
      background: url('../images/icons/toggle_plus_large.png') no-repeat 5px center
    td.toggled:first-child span:first-child
      background: url('../images/icons/toggle_minus_large.png') no-repeat 5px center
    td:first-child span:first-child
      padding-left: 20px
      
  &.col5
    td, th
      width: 100px
      &:first-child
        text-align: left
        width: 200px
        > span
          display: inline-block
          padding-left: 20px

  &.budget
    td, th
      width: 150px
      a
        color: #555
        font-size: 11px
        text-decoration: none
        &:hover, &:focus
          color: $primary
      &:first-child
        text-align: left
        width: 320px
      &.status
        width: 20px
        heigh: 16px
        &.invalid
          background: url("../images/icons/status_invalid.png") no-repeat center
        &.incomplete
          background: url("../images/icons/status_incomplete.png") no-repeat center
        &.complete
          background: url("../images/icons/status_complete.png") no-repeat center right
         
    // fterrier start 
    .budget-entry
      background-color: #e5e5e5
      
      &:hover, &:focus
        td
          background-color: #efefef
      
    .red 
      color: red
      
    .empty-line
      padding: 7px
  // fterrier end

  tr.total td
    background: $filler
    border-top: 1px solid $dropdown !important
    color: $primary
    font-weight: bold
    padding: 10px 7px
    
  input[type=checkbox]
    background: $dropdown
    border: 1px solid $primary
    margin: 0
    +border-radius(3px)
    +box-shadow($dropdown - #111, 1px, 1px, 4px inset)
    
  .standout 
    > td
      background: $primary + #191919
      //border-bottom: 1px solid $primary
      color: #fff
      font-weight: bold
    &:hover > td, &:focus > td
      background: $primary
    
  .sub-title
    color: $primary
    font-style: italic
    
  .active-row > td:first-child
    background: url('../images/active_row.png') no-repeat left center
  
.table-aside
  margin: 10px 0
  width: 280px

.explanation-heading
  background: $filler
  font-size: 11px
  font-style: italic
  margin-top: 5px
  padding: 7px 13px
 
.explanation-row
  border: none
  padding: 0 10px !important
  & > td
    padding: 0
    border: none
    
.explanation-cell table
  margin-bottom: 10px
  
.shorten
  max-width: 100px
  overflow: hidden
  
