/* line 2, src/stylesheets/cluetip.sass */
#cluetip-inner .type { font-weight: bold; }
/* line 5, src/stylesheets/cluetip.sass */
#cluetip-inner .row { margin-bottom: 4px; }
/* line 9, src/stylesheets/cluetip.sass */
#cluetip-inner .enum li { display: block; clear: both; }
/* line 13, src/stylesheets/cluetip.sass */
#cluetip-inner .enum li .name { float: left; width: 160px; white-space: normal; }
/* line 18, src/stylesheets/cluetip.sass */
#cluetip-inner .enum li .value { float: left; width: 80px; }
