/* line 2, ../../src/stylesheets/cost.sass */
#cost #center table tbody th.header { background-color: white; border: 1px solid #cccccc; font-weight: bold; }
/* line 7, ../../src/stylesheets/cost.sass */
#cost #center table tbody th.label, #cost #center table thead th.empty { width: 500px; }
/* line 10, ../../src/stylesheets/cost.sass */
#cost #center table thead th, #cost #center table td { text-align: right; }
/* line 13, ../../src/stylesheets/cost.sass */
#cost #center table .explanation-row div.explanation-cell { background-color: white; border: 1px solid #cccccc; }
/* line 17, ../../src/stylesheets/cost.sass */
#cost #center table .explanation-row div.explanation-cell table { margin-bottom: 0px; margin-top: 4px; }
/* line 21, ../../src/stylesheets/cost.sass */
#cost #center table .explanation-row div.explanation-cell th { width: 480px; }
