#dashboard #corner {
  width: 116px;
  float: left;
  margin-right: 10px; }
  #dashboard #corner .dropdown {
    float: right; }
#dashboard #top {
  width: 822px;
  float: left; }
#dashboard #bottom #left {
  width: 144px;
  float: left; }
  #dashboard #bottom #left div {
    float: left;
    width: 116px;
    margin-right: 10px; }
    #dashboard #bottom #left div li {
      display: block; }

#dashboard #center {
  width: 822px;
  float: left; }
  #dashboard #center #values {
    width: 100%;
    float: left; }
  #dashboard #center #values > table > thead > tr > th, #dashboard #center #values > table > thead > tr > td, #dashboard #center #values > table > tbody > tr > th, #dashboard #center #values > table > tbody > tr > td {
    margin: 0;
    padding: 0; }
  #dashboard #center #values > table .explanation-cell {
    display: none;
    width: 98%;
    float: left;
    margin-right: 10px; }
  #dashboard #center .header .row .cell {
    height: inherit; }
  #dashboard #center .cell {
    width: 73.333px;
    float: left; }
    #dashboard #center .cell div {
      display: block;
      -webkit-border-top-right-radius: 2px;
      -webkit-border-top-left-radius: 2px;
      -khtml-border-radius-topleft: 2px;
      -khtml-border-radius-topright: 2px;
      -moz-border-radius-topright: 2px;
      -moz-border-radius-topleft: 2px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
      -webkit-border-bottom-left-radius: 2px;
      -khtml-border-radius-bottomleft: 2px;
      -khtml-border-radius-bottomright: 2px;
      -moz-border-radius-bottomright: 2px;
      -moz-border-radius-bottomleft: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      height: 2em;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-right: 4px; }
  #dashboard #center .cell.value {
    cursor: pointer;
    text-align: center; }
  #dashboard #center .value span, #dashboard #center .label.left span {
    top: 25%;
    position: relative; }
  #dashboard #center .label.top {
    text-align: center; }
    #dashboard #center .label.top div {
      height: auto; }
  #dashboard #center .label.left {
    width: 140px; }

#dashboard .explanation {
  border: 1px solid #cccccc;
  background-color: white;
  padding: 2px;
  width: 100%;
  padding: 4px; }
  #dashboard .explanation .highlighted div, #dashboard .explanation .selected div, #dashboard .explanation .highlighted, #dashboard .explanation .selected {
    background: yellow;
    font-weight: bold; }
  #dashboard .explanation .info {
    margin-right: 18px; }
  #dashboard .explanation .average span.value {
    float: left;
    color: red;
    padding-bottom: 4px;
    margin-right: 4px; }
  #dashboard .explanation div > ul li {
    width: 160px;
    margin-right: 8px;
    white-space: normal; }
  #dashboard .explanation .span table {
    margin-bottom: 0px; }
    #dashboard .explanation .span table th, #dashboard .explanation .span table td {
      margin-right: 4px;
      padding: 0px 4px 0px 0px; }
    #dashboard .explanation .span table thead {
      font-weight: bold; }
    #dashboard .explanation .span table tbody {
      white-space: normal; }
    #dashboard .explanation .span table tbody td, #dashboard .explanation .span table thead th {
      text-align: right; }
  #dashboard .explanation .element:hover {
    cursor: pointer; }
  #dashboard .explanation .span {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 4px; }
    #dashboard .explanation .span div {
      margin-bottom: 4px; }
