/* line 3, src/stylesheets/dsr.sass */
#dsr #values { overflow: auto; }
/* line 6, src/stylesheets/dsr.sass */
#dsr #facility-type-filter { float: right; }
/* line 9, src/stylesheets/dsr.sass */
#dsr table { margin-bottom: 0px; margin-top: 4px; width: 95%; margin: 0 auto; }
/* line 15, src/stylesheets/dsr.sass */
#dsr th { font-weight: bolder; text-align: center; }
/* line 19, src/stylesheets/dsr.sass */
#dsr td { background-color: white; }
/* line 22, src/stylesheets/dsr.sass */
#dsr .parent-row { background-color: #ff66cc; border: 1px solid #a3a3a3; color: white; }
/* line 27, src/stylesheets/dsr.sass */
#dsr .box-dsr-value { background-color: white; border: #cccccc solid; border-width: 0px 1px 1px 0px; text-align: right; }
/* line 33, src/stylesheets/dsr.sass */
#dsr .box-dsr-organisation { background-color: #cccccc; border: #cccccc solid; border-width: 0px 1px 1px 0px; text-align: left; }
/* line 39, src/stylesheets/dsr.sass */
#dsr .object-name-box { width: 70px; font-weight: bolder; }
/* line 43, src/stylesheets/dsr.sass */
#dsr .title-th { width: 10px; color: white; background-color: #a3a3a3; border: white solid; border-width: 1px 1px 1px 0px; vertical-align: bottom; }
/* line 50, src/stylesheets/dsr.sass */
#dsr .title-th a { font-size: 10px; font-weight: normal; }
