.entity-list {
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  padding: 8px; }
  .entity-list table thead tr {
    background: #739eee;
    color: white;
    font-weight: 600;
    text-align: center; }
    .entity-list table thead tr a {
      color: white; }
    .entity-list table thead tr a:hover {
      color: white; }
    .entity-list table thead tr a:visited {
      color: white; }
  .entity-list table tr.odd td {
    background-color: white; }
  .entity-list table tr.even td {
    background-color: #e5ecf9; }
  .entity-list .paginateButtons {
    background: white;
    padding: 3px 2px 3px 2px;
    border: 1px #c3c3c3 solid; }
    .entity-list .paginateButtons a, .entity-list .paginateButtons span {
      margin: 1px 3px 1px 3px; }
    .entity-list .paginateButtons span {
      font-weight: bold; }
    .entity-list .paginateButtons a {
      text-decoration: none; }
    .entity-list .paginateButtons a:hover {
      text-decoration: underline; }
