/* line 3, ../../src/stylesheets/list.sass */
.entity-list { border: 1px solid #dddddd; background-color: #f4f4f4; padding: 8px; }
/* line 6, ../../src/stylesheets/list.sass */
.entity-list .explanation-row { padding: 0; }
/* line 12, ../../src/stylesheets/list.sass */
.entity-list table thead tr { background: #739eee; color: white; font-weight: 600; text-align: center; }
/* line 18, ../../src/stylesheets/list.sass */
.entity-list table thead tr a { color: white; }
/* line 21, ../../src/stylesheets/list.sass */
.entity-list table thead tr a:hover { color: white; }
/* line 24, ../../src/stylesheets/list.sass */
.entity-list table thead tr a:visited { color: white; }
/* line 27, ../../src/stylesheets/list.sass */
.entity-list table tr.odd td { background-color: white; }
/* line 30, ../../src/stylesheets/list.sass */
.entity-list table tr.even td { background-color: #e5ecf9; }
/* line 33, ../../src/stylesheets/list.sass */
.entity-list .paginateButtons { background: white; padding: 3px 2px 3px 2px; border: 1px #c3c3c3 solid; }
/* line 39, ../../src/stylesheets/list.sass */
.entity-list .paginateButtons a, .entity-list .paginateButtons span { margin: 1px 3px 1px 3px; }
/* line 42, ../../src/stylesheets/list.sass */
.entity-list .paginateButtons span { font-weight: bold; }
/* line 45, ../../src/stylesheets/list.sass */
.entity-list .paginateButtons a { text-decoration: none; }
/* line 48, ../../src/stylesheets/list.sass */
.entity-list .paginateButtons a:hover { text-decoration: underline; }
