/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; }

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: "Droid"; src: url("../fonts/DroidSans.eot"); src: local("☺"), url("../fonts/DroidSans.woff") format("woff"), url("../fonts/DroidSans.ttf") format("truetype"), url("../fonts/DroidSans.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Droid-Bold"; src: url("../fonts/DroidSans-Bold.eot"); src: local("☺"), url("../fonts/DroidSans-Bold.woff") format("woff"), url("../fonts/DroidSans-Bold.ttf") format("truetype"), url("../fonts/DroidSans-Bold.svg") format("svg"); font-weight: normal; font-style: normal; }

/* line 1, ../../src/stylesheets/partials/_shared.sass */
body { background: url("../images/bg/body_bg.png"); font-family: "Lucida Grande", Arial, Helvetica, sans-serif; }

/* line 5, ../../src/stylesheets/partials/_shared.sass */
h1, h2, h3, h4 { font-family: "Droid-Bold", Arial, Helvetica, sans-serif; }

/* line 8, ../../src/stylesheets/partials/_shared.sass */
a { color: #258cd5; font-size: 12px; }
/* line 11, ../../src/stylesheets/partials/_shared.sass */
a:hover, a:focus { color: #00266f; }

/* line 14, ../../src/stylesheets/partials/_shared.sass */
.main { color: #666666; font-size: 12px; }

/* line 18, ../../src/stylesheets/partials/_shared.sass */
.form-heading { color: #258cd5; font-size: 24px; margin-bottom: 10px; }

/* line 23, ../../src/stylesheets/partials/_shared.sass */
.question h4 { background: #e9f4fc; font-family: "Droid", Arial, sans-serif; left: -15px; line-height: 1.5; margin: 0 50px 10px 0; padding: 7px 10px 7px 30px; position: relative; -moz-border-radius-topright: 100px; -webkit-border-top-right-radius: 100px; -o-border-top-right-radius: 100px; -ms-border-top-right-radius: 100px; -khtml-border-top-right-radius: 100px; border-top-right-radius: 100px; -moz-border-radius-bottomright: 100px; -webkit-border-bottom-right-radius: 100px; -o-border-bottom-right-radius: 100px; -ms-border-bottom-right-radius: 100px; -khtml-border-bottom-right-radius: 100px; border-bottom-right-radius: 100px; -moz-box-shadow: inset -2px -2px 2px 0 #e0ebf3; -webkit-box-shadow: inset -2px -2px 2px 0 #e0ebf3; -o-box-shadow: inset -2px -2px 2px 0 #e0ebf3; box-shadow: inset -2px -2px 2px 0 #e0ebf3; }
/* line 34, ../../src/stylesheets/partials/_shared.sass */
.question h4 span { background: #258cd5; color: #e9f4fc; display: block; font-weight: bold; left: -10px; padding: 3px; position: absolute; text-align: center; top: 4px; width: 18px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -ms-border-radius: 50px; -khtml-border-radius: 50px; border-radius: 50px; text-shadow: black 0 1px 0; }

/* line 48, ../../src/stylesheets/partials/_shared.sass */
.push-10 { margin-bottom: 10px; }

/* line 50, ../../src/stylesheets/partials/_shared.sass */
.push-15 { margin-bottom: 15px; }

/* line 52, ../../src/stylesheets/partials/_shared.sass */
.push-20 { margin-bottom: 20px; }

/* line 1, ../../src/stylesheets/partials/_layout.sass */
.wrapper { margin: 0 auto; position: relative; width: 1000px; *zoom: 1; }
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after { content: ""; display: table; clear: both; }

/* line 7, ../../src/stylesheets/partials/_layout.sass */
.left { display: inline; float: left; }

/* line 11, ../../src/stylesheets/partials/_layout.sass */
.right { display: inline; float: right; }

/* line 15, ../../src/stylesheets/partials/_layout.sass */
#content { background: url("../images/bg/content_bg.png") repeat-x top center; }
/* line 18, ../../src/stylesheets/partials/_layout.sass */
#content .wrapper { background: white; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -moz-box-shadow: 0 1px 3px #cccccc; -webkit-box-shadow: 0 1px 3px #cccccc; -o-box-shadow: 0 1px 3px #cccccc; box-shadow: 0 1px 3px #cccccc; }

/* line 23, ../../src/stylesheets/partials/_layout.sass */
.main { margin: 15px; }

/* line 1, ../../src/stylesheets/partials/_header.sass */
#header { background: url("../images/bg/header_bg.png") repeat-x center; height: 90px; *zoom: 1; }
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after { content: ""; display: table; clear: both; }

/* line 6, ../../src/stylesheets/partials/_header.sass */
#logo { color: #1e83cb; font: normal 48px "Droid-Bold"; padding-top: 30px; text-shadow: white 0 1px 0; }

/* line 3, ../../src/stylesheets/partials/_nav.sass */
#switcher { right: 0; position: absolute; top: 0; *zoom: 1; }
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#switcher:after { content: ""; display: table; clear: both; }
/* line 9, ../../src/stylesheets/partials/_nav.sass */
#switcher li { display: inline; float: left; margin-left: 3px; }
/* line 14, ../../src/stylesheets/partials/_nav.sass */
#switcher a { background: #e9f4fc; color: #258cd5; display: inline-block; font-size: 9px; padding: 7px 6px 5px; text-decoration: none; text-transform: uppercase; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -o-border-bottom-left-radius: 3px; -ms-border-bottom-left-radius: 3px; -khtml-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -o-border-bottom-right-radius: 3px; -ms-border-bottom-right-radius: 3px; -khtml-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
/* line 23, ../../src/stylesheets/partials/_nav.sass */
#switcher a:hover, #switcher a:focus, #switcher a.no-link { background: #258cd5; color: white; }

/* line 29, ../../src/stylesheets/partials/_nav.sass */
#navigation { background: url("../images/bg/nav_bg.png") repeat-x; height: 42px; position: relative; z-index: 20; }

/* line 35, ../../src/stylesheets/partials/_nav.sass */
#main-menu { float: left; *zoom: 1; }
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main-menu:after { content: ""; display: table; clear: both; }
/* line 38, ../../src/stylesheets/partials/_nav.sass */
#main-menu > li { display: inline; float: left; position: relative; }
/* line 42, ../../src/stylesheets/partials/_nav.sass */
#main-menu > li:first-child { border-left: 1px solid #238eda; }
/* line 44, ../../src/stylesheets/partials/_nav.sass */
#main-menu > li:last-child { border-right: 1px solid #1f7cbd; }
/* line 46, ../../src/stylesheets/partials/_nav.sass */
#main-menu > li:hover .submenu { display: block; }
/* line 48, ../../src/stylesheets/partials/_nav.sass */
#main-menu a { border-left: 1px solid #1f7cbd; border-right: 1px solid #238eda; color: white; display: inline-block; font-size: 13px; font-weight: bold; padding: 14px 25px; text-decoration: none; text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0; }
/* line 58, ../../src/stylesheets/partials/_nav.sass */
#main-menu a:hover, #main-menu a:focus, #main-menu a.active { background: #1f7cbd; -moz-box-shadow: inset -3px 0 8px 8px #0c73bc; -webkit-box-shadow: inset -3px 0 8px 8px #0c73bc; -o-box-shadow: inset -3px 0 8px 8px #0c73bc; box-shadow: inset -3px 0 8px 8px #0c73bc; }
/* line 61, ../../src/stylesheets/partials/_nav.sass */
#main-menu a:active { -moz-box-shadow: inset 0 0 10px 10px #036ab3; -webkit-box-shadow: inset 0 0 10px 10px #036ab3; -o-box-shadow: inset 0 0 10px 10px #036ab3; box-shadow: inset 0 0 10px 10px #036ab3; }
/* line 64, ../../src/stylesheets/partials/_nav.sass */
#main-menu .submenu { background: #258cd5; border: 1px solid #1f7cbd; display: none; opacity: 0.85; padding: 5px 0 10px; position: absolute; top: 42px; z-index: 1; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -moz-box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; -webkit-box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; -o-box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; }
/* line 75, ../../src/stylesheets/partials/_nav.sass */
#main-menu .submenu a { border-bottom: 1px solid #1f7cbd; display: block; font-size: 12px; font-weight: normal; padding: 7px 25px 7px; white-space: nowrap; }
/* line 82, ../../src/stylesheets/partials/_nav.sass */
#main-menu .submenu a:hover, #main-menu .submenu a:focus { background: #1f7cbd; }

/* line 87, ../../src/stylesheets/partials/_nav.sass */
#logout { position: absolute; right: 0; top: 100px; z-index: 30; }
/* line 93, ../../src/stylesheets/partials/_nav.sass */
#logout li { display: inline; float: left; margin-left: 7px; }
/* line 98, ../../src/stylesheets/partials/_nav.sass */
#logout a { background: #1f7cbd; color: #e9f4fc; display: block; font-size: 11px; padding: 6px 12px; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: #0059a2 0 -2px 9px 1px inset; -webkit-box-shadow: #0059a2 0 -2px 9px 1px inset; -o-box-shadow: #0059a2 0 -2px 9px 1px inset; box-shadow: #0059a2 0 -2px 9px 1px inset; text-shadow: #0059a2 0 1px 0; }
/* line 108, ../../src/stylesheets/partials/_nav.sass */
#logout a:hover, #logout a:focus { color: white; -moz-box-shadow: #0059a2 0 -2px 9px 4px inset; -webkit-box-shadow: #0059a2 0 -2px 9px 4px inset; -o-box-shadow: #0059a2 0 -2px 9px 4px inset; box-shadow: #0059a2 0 -2px 9px 4px inset; }
/* line 111, ../../src/stylesheets/partials/_nav.sass */
#logout a:active { -moz-box-shadow: #0059a2 0 2px 9px 4px inset; -webkit-box-shadow: #0059a2 0 2px 9px 4px inset; -o-box-shadow: #0059a2 0 2px 9px 4px inset; box-shadow: #0059a2 0 2px 9px 4px inset; }
/* line 113, ../../src/stylesheets/partials/_nav.sass */
#logout a.redmine { color: white; opacity: 0.7; }
/* line 116, ../../src/stylesheets/partials/_nav.sass */
#logout a.redmine:hover, #logout a.redmine:focus { opacity: 1; }

/* line 121, ../../src/stylesheets/partials/_nav.sass */
.subnav, .entity-form-header { background: url("../images/bg/subnav_bg.png") repeat-x; color: #888888; font-size: 11px; height: 11px; padding: 14px; }
/* line 127, ../../src/stylesheets/partials/_nav.sass */
.subnav a, .entity-form-header a { font-size: 11px; font-weight: bold; }

/* line 131, ../../src/stylesheets/partials/_nav.sass */
.filter { display: inline; float: left; margin-right: 15px; }

/* line 136, ../../src/stylesheets/partials/_nav.sass */
.subnav-dropdown { position: relative; }
/* line 138, ../../src/stylesheets/partials/_nav.sass */
.subnav-dropdown > a { padding: 6px 8px; }
/* line 140, ../../src/stylesheets/partials/_nav.sass */
.subnav-dropdown > a:hover, .subnav-dropdown > a:focus { background: #258cd5; color: white; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

/* line 146, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list { background: #258cd5; border: 1px solid #1f7cbd; display: none; left: 0; opacity: 0.85; padding: 5px 0 10px 10px; position: absolute; top: 15px; z-index: 1; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -moz-box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; -webkit-box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; -o-box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; box-shadow: #cccccc 2px 2px 3px, #1f7cbd 0 0 8px 3px inset; }
/* line 159, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list li { display: block; padding: 7px 0 7px; }
/* line 163, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list li:hover a, .dropdown-list li:focus a { color: white; }
/* line 166, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list li a { color: #e9f4fc; font-size: 12px; font-weight: normal; padding-right: 15px; text-decoration: none; white-space: nowrap; }
/* line 174, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list .survey-section { background: #e9f4fc; margin-top: 5px; *zoom: 1; }
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.dropdown-list .survey-section:after { content: ""; display: table; clear: both; }
/* line 178, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list .survey-section a { color: #258cd5; padding-left: 5px; }
/* line 183, ../../src/stylesheets/partials/_nav.sass */
.dropdown-list .survey-section li:focus a, .dropdown-list .survey-section li:hover a { color: #00266f; }

/* line 186, ../../src/stylesheets/partials/_nav.sass */
.foldable { padding-top: 3px; min-width: 75px; }
/* line 189, ../../src/stylesheets/partials/_nav.sass */
.foldable a.foldable-toggle { display: block; cursor: pointer; width: 20px; height: 20px; margin: -3px; float: left; text-indent: -9999px; background-image: url("../images/icons/toggle_plus.gif"); }
/* line 199, ../../src/stylesheets/partials/_nav.sass */
.foldable a.foldable-toggle.toggled { background-image: url("../images/icons/toggle_minus.gif"); }
/* line 202, ../../src/stylesheets/partials/_nav.sass */
.foldable.opened > span, .foldable.opened > a { font-weight: bold; }
/* line 204, ../../src/stylesheets/partials/_nav.sass */
.foldable .foldable { padding-bottom: 0; }

/* line 207, ../../src/stylesheets/partials/_nav.sass */
.organisation-fold { padding: 0 12px; }

/* line 1, ../../src/stylesheets/partials/_footer.sass */
#footer { color: #888888; font-size: 11px; line-height: 1.5; padding: 15px; text-align: center; text-shadow: white 0 1px 0; }
/* line 8, ../../src/stylesheets/partials/_footer.sass */
#footer a { font-size: 11px; }

/* line 1, ../../src/stylesheets/partials/_spinner.sass */
.spinner { position: fixed; text-align: center; overflow: auto; width: 100%; height: 100%; opacity: 0.4; background-color: grey; z-index: 20; }
/* line 11, ../../src/stylesheets/partials/_spinner.sass */
.spinner img { position: relative; top: 50%; }

/* line 1, ../../src/stylesheets/partials/_tables.sass */
.listing { clear: both; font-size: 12px; width: 100%; }
/* line 5, ../../src/stylesheets/partials/_tables.sass */
.listing th, .listing td { padding: 7px 12px; }
/* line 7, ../../src/stylesheets/partials/_tables.sass */
.listing th { background: #e9f4fc; color: #258cd5; }
/* line 11, ../../src/stylesheets/partials/_tables.sass */
.listing td { border-top: 1px solid #e9f4fc; color: #444444; }
/* line 15, ../../src/stylesheets/partials/_tables.sass */
.listing td:first-child, .listing th:first-child { border-left: 1px solid #e9f4fc; }
/* line 17, ../../src/stylesheets/partials/_tables.sass */
.listing td:last-child, .listing th:last-child { border-right: 1px solid #e9f4fc; }
/* line 20, ../../src/stylesheets/partials/_tables.sass */
.listing tr:last-child td { border-bottom: 1px solid #e9f4fc; }

/* line 24, ../../src/stylesheets/partials/_tables.sass */
.explanation-row > td { border: none; padding: 0 10px; }

/* line 28, ../../src/stylesheets/partials/_tables.sass */
.explanation-cell table { margin-bottom: 10px; }

/* line 1, ../../src/stylesheets/partials/_forms.sass */
.element-bool { float: left; }

/* line 3, ../../src/stylesheets/partials/_forms.sass */
.question-checkbox li { clear: both; }

/* line 5, ../../src/stylesheets/partials/_forms.sass */
button { background: #65c029; border: 1px solid #439e07; clear: both; color: #e9f4fc; display: block; font-size: 14px; font-weight: bold; margin-top: 20px; padding: 10px 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 1px 1px 3px #eeeeee; -webkit-box-shadow: 1px 1px 3px #eeeeee; -o-box-shadow: 1px 1px 3px #eeeeee; box-shadow: 1px 1px 3px #eeeeee; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ec932), color-stop(100%, #65c029)); background-image: -webkit-linear-gradient(top, #6ec932, #65c029); background-image: -moz-linear-gradient(top, #6ec932, #65c029); background-image: -o-linear-gradient(top, #6ec932, #65c029); background-image: -ms-linear-gradient(top, #6ec932, #65c029); background-image: linear-gradient(top, #6ec932, #65c029); text-shadow: #328d00 0 1px 0; }

/* line 20, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container { float: left; border: 2px solid #739eee; margin: 8px; padding: 10px 5px 10px 5px; }
/* line 28, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .entity-form-header { background-color: #739eee; }
/* line 31, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .entity-form-header .title { float: left; color: white; margin: 3px 2px 2px 3px; }
/* line 36, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .entity-form-header .locales { float: right; padding: 4px; }
/* line 40, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .entity-form-header .locales a { padding: 2px; }
/* line 43, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .entity-form-header .locales a.no-link { font-weight: bold; }
/* line 46, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .forms-container { width: 100%; }
/* line 49, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .data-search-column { float: right; width: 470px; }
/* line 53, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .data-search-column input.radio { width: auto; }
/* line 56, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .data-search-column input.radio label { font-weight: bold; margin-bottom: 2px; }
/* line 60, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .data-search-column input.radio #data { width: 600px; }
/* line 63, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container .data-field-column { float: left; width: 460px; }

/* line 67, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form { position: relative; border: none; background-color: inherit; }
/* line 72, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form .row { width: 400px; margin: 4px; }
/* line 76, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form .row .error-list { height: 14px; }
/* line 79, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form input, .entity-form-container form textarea { width: 290px; }
/* line 82, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form input.radio { width: auto; }
/* line 85, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form label { display: block; font-weight: bold; margin-bottom: 2px; }
/* line 90, ../../src/stylesheets/partials/_forms.sass */
.entity-form-container form button { float: right; }

/* line 93, ../../src/stylesheets/partials/_forms.sass */
.focus-field { border: solid 1px #73a6ff; background: #dbe5fb; color: black; }

/* line 98, ../../src/stylesheets/partials/_forms.sass */
.idle-field { background: #f7f9fe; color: black; border: solid 1px #ababab; }

/* line 103, ../../src/stylesheets/partials/_forms.sass */
.completed-field { background: #ededed; color: black; border: solid 1px #73a6ff; }

/* line 108, ../../src/stylesheets/partials/_forms.sass */
.ajax-search-field { width: 340px; }

/* line 111, ../../src/stylesheets/partials/_forms.sass */
ul.filtered { border: 1px solid lightGrey; padding: 4px; height: 270px; overflow: auto; }
/* line 117, ../../src/stylesheets/partials/_forms.sass */
ul.filtered li { display: block; white-space: nowrap; }
/* line 121, ../../src/stylesheets/partials/_forms.sass */
ul.filtered li span { color: grey; }
/* line 124, ../../src/stylesheets/partials/_forms.sass */
ul.filtered li:hover { background-color: yellow; }
