/* line 6, ../../src/stylesheets/survey.sass */
#survey .rounded-box-top { border: 1px solid #cccccc; background-color: white; padding: 2px; -webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-radius-topleft: 5px; -khtml-border-radius-topright: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; padding: 5px; margin-top: 8px; margin-bottom: 2px; }
/* line 13, ../../src/stylesheets/survey.sass */
#survey .rounded-box-bottom { border: 1px solid #cccccc; background-color: white; padding: 2px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-radius-bottomleft: 5px; -khtml-border-radius-bottomright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 5px; margin-bottom: 8px; margin-top: 2px; }
/* line 20, ../../src/stylesheets/survey.sass */
#survey .grey-rounded-box-top { border: 1px solid #dddddd; background-color: #f4f4f4; padding: 8px; -webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-radius-topleft: 5px; -khtml-border-radius-topright: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; padding: 3px; }
/* line 25, ../../src/stylesheets/survey.sass */
#survey .grey-rounded-box-bottom { border: 1px solid #dddddd; background-color: #f4f4f4; padding: 8px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-radius-bottomleft: 5px; -khtml-border-radius-bottomright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 3px; }
/* line 31, ../../src/stylesheets/survey.sass */
#survey #survey-header { margin-bottom: 2px; }
/* line 34, ../../src/stylesheets/survey.sass */
#survey #survey-header div.filter { margin-right: 100px; }
/* line 37, ../../src/stylesheets/survey.sass */
#survey #survey-summary { border: 1px solid #cccccc; background-color: white; padding: 2px; }
/* line 39, ../../src/stylesheets/survey.sass */
#survey #survey-summary table thead th { padding-bottom: 8px; }
/* line 42, ../../src/stylesheets/survey.sass */
#survey #survey-summary table th { font-weight: bold; }
/* line 45, ../../src/stylesheets/survey.sass */
#survey #survey-summary table td { padding-top: 1px; padding-bottom: 1px; }
/* line 49, ../../src/stylesheets/survey.sass */
#survey #survey-menu { position: absolute; margin-left: 50px; }
/* line 53, ../../src/stylesheets/survey.sass */
#survey ol#questions { padding-left: 20px; font-weight: bold; }
/* line 58, ../../src/stylesheets/survey.sass */
#survey .skipped { background-color: lightGrey; }
/* line 61, ../../src/stylesheets/survey.sass */
#survey span.survey-old-value { font-size: 90%; color: grey; }
/* line 65, ../../src/stylesheets/survey.sass */
#survey .question-table span.survey-old-value { display: block; text-align: center; }
/* line 69, ../../src/stylesheets/survey.sass */
#survey div.element, #survey div.survey-element { display: inline; }
/* line 72, ../../src/stylesheets/survey.sass */
#survey .question-simple div.element-enum { display: block; }
/* line 75, ../../src/stylesheets/survey.sass */
#survey .question-number { font-weight: bold; display: inline; }
/* line 79, ../../src/stylesheets/survey.sass */
#survey .question { margin-bottom: 20px; font-weight: normal; }
/* line 83, ../../src/stylesheets/survey.sass */
#survey .question-container.skipped { display: none; }
/* line 86, ../../src/stylesheets/survey.sass */
#survey #invalid-questions-container .question.errors, #survey .question-table.errors, #survey .question-checkbox.errors { color: inherit; }
/* line 88, ../../src/stylesheets/survey.sass */
#survey #invalid-questions-container .question.errors input, #survey #invalid-questions-container .question.errors select, #survey #invalid-questions-container .question.errors textarea, #survey .question-table.errors input, #survey .question-table.errors select, #survey .question-table.errors textarea, #survey .question-checkbox.errors input, #survey .question-checkbox.errors select, #survey .question-checkbox.errors textarea { border-color: inherit; }
/* line 92, ../../src/stylesheets/survey.sass */
#survey .question-table .question-table-container { overflow: auto; }
/* line 95, ../../src/stylesheets/survey.sass */
#survey .question-table input { width: 80px; }
/* line 98, ../../src/stylesheets/survey.sass */
#survey .question-table table { max-width: 700px; margin: 10px 0px 1px 0px; paddind: 1px; }
/* line 103, ../../src/stylesheets/survey.sass */
#survey .question-table table div.element { display: block; }
/* line 106, ../../src/stylesheets/survey.sass */
#survey .question-table table thead th { text-align: center; }
/* line 109, ../../src/stylesheets/survey.sass */
#survey .question-table td { padding: 0px; border-bottom: 1px solid #d3d3d3; }
/* line 113, ../../src/stylesheets/survey.sass */
#survey .question-table td div.element { padding: 4px 10px 4px 5px; }
/* line 116, ../../src/stylesheets/survey.sass */
#survey .question-table td div.skipped { padding: 15px; }
/* line 119, ../../src/stylesheets/survey.sass */
#survey .question-table td div.skipped input, #survey .question-table td div.skipped select { display: none; }
/* line 122, ../../src/stylesheets/survey.sass */
#survey .question-table .oddrow { background-color: #eeeeee; }
/* line 125, ../../src/stylesheets/survey.sass */
#survey .question-table .evenrow { background-color: white; }
/* line 128, ../../src/stylesheets/survey.sass */
#survey div.element-string { display: block; }
/* line 131, ../../src/stylesheets/survey.sass */
#survey .element-string .survey-old-value { display: block; }
/* line 134, ../../src/stylesheets/survey.sass */
#survey .question-table table th, #survey .element-map .element-map-header { border-left: 1px solid white; font-weight: normal; background: #3b84c9; color: white; }
/* line 141, ../../src/stylesheets/survey.sass */
#survey .element-list .element-map .element-map-body, #survey .element-list .element-map .element-map-header { width: 100px; }
/* line 144, ../../src/stylesheets/survey.sass */
#survey div.element-list { margin: 10px 0px 1px 0px; display: table; }
/* line 148, ../../src/stylesheets/survey.sass */
#survey div.element-list .element-map { display: table-row; float: left; }
/* line 152, ../../src/stylesheets/survey.sass */
#survey div.element-list .element-map .element-map-header, #survey div.element-list .element-map .element-map-body { display: table-cell; padding: 4px 10px 4px 5px; border-bottom: 1px solid #d3d3d3; }
/* line 157, ../../src/stylesheets/survey.sass */
#survey div.element-list .element-map .element-map-header select, #survey div.element-list .element-map .element-map-header input, #survey div.element-list .element-map .element-map-header textarea, #survey div.element-list .element-map .element-map-body select, #survey div.element-list .element-map .element-map-body input, #survey div.element-list .element-map .element-map-body textarea { width: 98px; }
/* line 160, ../../src/stylesheets/survey.sass */
#survey div.element-list .element-map .element-map-header textarea, #survey div.element-list .element-map .element-map-body textarea { height: 14px; }
/* line 164, ../../src/stylesheets/survey.sass */
#survey .element-list .element-list-header .element-number, #survey .element-list .element-list-header .elemement-string, #survey .element-list .element-list-header .element-date, #survey .element-list .element-list-header .element-bool, #survey .element-list .element-list-header .element-enum { display: none; }
/* line 167, ../../src/stylesheets/survey.sass */
#survey .element-list .element-list-header .element-map .element-map-body { display: none; }
/* line 170, ../../src/stylesheets/survey.sass */
#survey .element-list .element-list-body .element-map .element-map-header { display: none; }
/* line 173, ../../src/stylesheets/survey.sass */
#survey div.element-map { display: block; }
/* line 176, ../../src/stylesheets/survey.sass */
#survey div.element-map div, #survey div.element-map .element { display: inline; }
/* line 180, ../../src/stylesheets/survey.sass */
#survey .question-checkbox .skipped { display: none; }
/* line 183, ../../src/stylesheets/survey.sass */
#survey .question-checkbox ul { list-style-type: none; }
/* line 186, ../../src/stylesheets/survey.sass */
#survey .question-checkbox li div.element input { float: left; }
/* line 189, ../../src/stylesheets/survey.sass */
#survey .question-checkbox div.error-list { float: left; position: absolute; margin-top: 12px; }
/* line 194, ../../src/stylesheets/survey.sass */
#survey .question-tab-title { border-left: 1px solid white; }
/* line 197, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list { list-style-type: none; margin: 0; padding: 0; width: 197px; }
/* line 202, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list a { display: block; text-decoration: none; font-weight: bold; position: relative; }
/* line 208, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li { margin-top: 1px; }
/* line 211, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item { background: #739eee; padding: 0.5em; color: white; }
/* line 216, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item-status { position: absolute; right: 0px; }
/* line 220, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item-status span { display: block; width: 16px; height: 16px; }
/* line 225, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item-status span.hidden { display: none; }
/* line 230, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item-status .section-status-complete, #survey #survey-objective-list li .item-status .objective-status-complete { background-image: url("../images/icons/positive_16.png"); }
/* line 232, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item-status .section-status-invalid, #survey #survey-objective-list li .item-status .objective-status-invalid { background-image: url("../images/icons/negative_16.png"); }
/* line 234, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item-status .section-status-closed, #survey #survey-objective-list li .item-status .objective-status-closed { background-image: url("../images/icons/check_16.png"); }
/* line 240, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list li .item:hover { background: #73a6ff; }
/* line 243, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list ul { list-style-type: none; margin: 0; padding: 0; width: 197px; }
/* line 248, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list ul li { margin-top: 1px; }
/* line 251, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list ul li .item { display: block; background: #f0f4fd; border: 1px white solid; border-left: 5px #73a6ff solid; padding-left: 15px; color: #333333; }
/* line 259, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list ul li .item:hover { background: white; border: 1px #739eee solid; border-left: 5px #739eee solid; }
/* line 264, ../../src/stylesheets/survey.sass */
#survey #survey-objective-list ul li .opened { background: #dbfbde; border-left: 5px #c32e06 solid; }
