#survey .rounded-box-top {
  border: 1px solid #cccccc;
  background-color: white;
  padding: 2px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 2px; }
#survey .rounded-box-bottom {
  border: 1px solid #cccccc;
  background-color: white;
  padding: 2px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
  margin-top: 2px; }
#survey .grey-rounded-box-top {
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  padding: 8px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 3px; }
#survey .grey-rounded-box-bottom {
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  padding: 8px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 3px; }
#survey #survey-header {
  margin-bottom: 2px; }
  #survey #survey-header div.filter {
    margin-right: 100px; }
#survey #survey-summary {
  border: 1px solid #cccccc;
  background-color: white;
  padding: 2px; }
  #survey #survey-summary table thead th {
    padding-bottom: 8px; }
  #survey #survey-summary table th {
    font-weight: bold; }
  #survey #survey-summary table td {
    padding-top: 1px;
    padding-bottom: 1px; }
#survey #survey-menu {
  position: absolute;
  margin-left: 50px; }
#survey ol#questions {
  padding-left: 20px;
  font-weight: bold; }
#survey .skipped {
  background-color: lightGrey; }
#survey span.survey-old-value {
  font-size: 90%;
  color: grey; }
#survey .question-table span.survey-old-value {
  display: block;
  text-align: center; }
#survey div.element, #survey div.survey-element {
  display: inline; }
#survey .question-simple div.element-enum {
  display: block; }
#survey .question-number {
  font-weight: bold;
  display: inline; }
#survey .question {
  margin-bottom: 20px;
  font-weight: normal; }
#survey .question-container.skipped {
  display: none; }
#survey #invalid-questions-container .question.errors, #survey .question-table.errors, #survey .question-checkbox.errors {
  color: inherit; }
  #survey #invalid-questions-container .question.errors input, #survey #invalid-questions-container .question.errors select, #survey #invalid-questions-container .question.errors textarea, #survey .question-table.errors input, #survey .question-table.errors select, #survey .question-table.errors textarea, #survey .question-checkbox.errors input, #survey .question-checkbox.errors select, #survey .question-checkbox.errors textarea {
    border-color: inherit; }
#survey .question-table .question-table-container {
  overflow: auto; }
#survey .question-table input {
  width: 80px; }
#survey .question-table table {
  max-width: 700px;
  margin: 10px 0px 1px 0px;
  paddind: 1px; }
  #survey .question-table table div.element {
    display: block; }
  #survey .question-table table thead th {
    text-align: center; }
#survey .question-table td {
  padding: 0px;
  border-bottom: 1px solid #d3d3d3; }
#survey .question-table td div.element {
  padding: 4px 10px 4px 5px; }
#survey .question-table td div.skipped {
  padding: 15px; }
  #survey .question-table td div.skipped input, #survey .question-table td div.skipped select {
    display: none; }
#survey .question-table .oddrow {
  background-color: #eeeeee; }
#survey .question-table .evenrow {
  background-color: white; }
#survey div.element-string {
  display: block; }
#survey .element-string .survey-old-value {
  display: block; }
#survey .question-table table th, #survey .element-map .element-map-header {
  border-left: 1px solid white;
  font-weight: normal;
  background: #3b84c9;
  color: white; }
#survey .element-list .element-map .element-map-body, #survey .element-list .element-map .element-map-header {
  width: 100px; }
#survey div.element-list {
  margin: 10px 0px 1px 0px;
  display: table; }
  #survey div.element-list .element-map {
    display: table-row;
    float: left; }
    #survey div.element-list .element-map .element-map-header, #survey div.element-list .element-map .element-map-body {
      display: table-cell;
      padding: 4px 10px 4px 5px;
      border-bottom: 1px solid #d3d3d3; }
      #survey div.element-list .element-map .element-map-header select, #survey div.element-list .element-map .element-map-header input, #survey div.element-list .element-map .element-map-header textarea, #survey div.element-list .element-map .element-map-body select, #survey div.element-list .element-map .element-map-body input, #survey div.element-list .element-map .element-map-body textarea {
        width: 98px; }
      #survey div.element-list .element-map .element-map-header textarea, #survey div.element-list .element-map .element-map-body textarea {
        height: 14px; }
#survey .element-list .element-list-header .element-number, #survey .element-list .element-list-header .elemement-string, #survey .element-list .element-list-header .element-date, #survey .element-list .element-list-header .element-bool, #survey .element-list .element-list-header .element-enum {
  display: none; }
#survey .element-list .element-list-header .element-map .element-map-body {
  display: none; }
#survey .element-list .element-list-body .element-map .element-map-header {
  display: none; }
#survey div.element-map {
  display: block; }
  #survey div.element-map div, #survey div.element-map .element {
    display: inline; }
#survey .question-checkbox .skipped {
  display: none; }
#survey .question-checkbox ul {
  list-style-type: none; }
#survey .question-checkbox li div.element input {
  float: left; }
#survey .question-checkbox div.error-list {
  float: left;
  position: absolute;
  margin-top: 12px; }
#survey .question-tab-title {
  border-left: 1px solid white; }
#survey #survey-objective-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 197px; }
  #survey #survey-objective-list a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    position: relative; }
  #survey #survey-objective-list li {
    margin-top: 1px; }
    #survey #survey-objective-list li .item {
      background: #739eee;
      padding: 0.5em;
      color: white; }
    #survey #survey-objective-list li .item-status {
      position: absolute;
      right: 0px; }
      #survey #survey-objective-list li .item-status span {
        display: block;
        width: 16px;
        height: 16px; }
        #survey #survey-objective-list li .item-status span.hidden {
          display: none; }
      #survey #survey-objective-list li .item-status .section-status-complete, #survey #survey-objective-list li .item-status .objective-status-complete {
        background-image: url("../images/icons/positive_16.png"); }
      #survey #survey-objective-list li .item-status .section-status-invalid, #survey #survey-objective-list li .item-status .objective-status-invalid {
        background-image: url("../images/icons/negative_16.png"); }
      #survey #survey-objective-list li .item-status .section-status-closed, #survey #survey-objective-list li .item-status .objective-status-closed {
        background-image: url("../images/icons/check_16.png"); }
    #survey #survey-objective-list li .item:hover {
      background: #73a6ff; }
  #survey #survey-objective-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 197px; }
    #survey #survey-objective-list ul li {
      margin-top: 1px; }
      #survey #survey-objective-list ul li .item {
        display: block;
        background: #f0f4fd;
        border: 1px white solid;
        border-left: 5px #73a6ff solid;
        padding-left: 15px;
        color: #333333; }
      #survey #survey-objective-list ul li .item:hover {
        background: white;
        border: 1px #739eee solid;
        border-left: 5px #739eee solid; }
      #survey #survey-objective-list ul li .opened {
        background: #dbfbde;
        border-left: 5px #c32e06 solid; }

.flash-info {
  color: green;
  border-color: green; }
