@import partials/base

.white-dropdown
  & > div
    +white-box
    
    margin-top: -14px
    border-width: 2px
    position: absolute
    z-index: 10

  ul
    +inline-block-list
    
    li
      display: block
      margin: 4px