@import partials/base
@import partials/reset
@import partials/default

// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  #container
    +white-box
    padding: 0px 0px 0px 0px
    height: auto !important
    width: 990px
    margin: 0 auto
    overflow: hidden
    +box-drop-shadow
    
    #content
      margin: 0px 2px 0px 2px
      padding: 0 0 10px 0
          
  #footer
    text-align: center
    font-size: 10px
    margin: 0px auto
    background: #739eee
    color: #fff
    height: 15px
    padding: 3px 0px 0px 0px
    a
      color: #fff
      text-decoration: none
    
  #header
    margin: 0px auto
    padding: 0px 0px 10px 0px
    
  #header-banner
    height: 120px
    margin: 0 0 1px
    width: 100%
    background-repeat: no-repeat
    background-image: url('../images/dhsst-banner.png')
    
.display-in-block
  display: block

.spinner
  position: fixed
  text-align: center
  overflow: auto
  width: 100%
  height: 100%
  opacity: 0.4
  background-color: grey
  z-index: 20
 
  img
    position: relative
    top: 50%
    
  
.locales
  float: right
  padding: 4px
  margin-right: 130px

  a
    padding: 2px

  a.no-link
    font-weight: bold

.breadcrumbs
  +grey-box
  margin-bottom: 2px
  height: 15px
  padding: 8px
  
  ul
    list-style-type: none
    margin: 0
    padding: 0
  a
    text-decoration: none
    font-weight: normal	
  li
    margin-top: 1px
    display: inline
    font-weight: 600 
    a
      padding: 0.5em
      text-decoration: none
      font-weight: normal	
    a:hover
      text-decoration: underline

.entity-list
  +grey-box
    	    
  h5
    float: left
    margin-bottom: 10px
  	    
  table
    margin 10px 1px 1px 1px
  
    thead tr
      background: #739eee
      color: #fff
      font-weight: 600
      text-align: center
    
      a
        color: #fff
      
      a:hover
        color: #fff
      
      a:visited
        color: #fff
  
    tr.odd td
      background-color: #fff
    
    tr.even td
      background-color: #E5ECF9
      
  .paginateButtons
    background: #ffffff
    padding: 3px 2px 3px 2px
    border: 1px #c3c3c3 solid
    
    a, span
      margin: 1px 3px 1px 3px

    span
      font-weight: bold

    a
      text-decoration: none

    a:hover
      text-decoration: underline

      
.filter
  float: left
  margin-right: 20px

  li span
    margin-right: 4px

  h5, .dropdown
    float: left
    margin-right: 4px

.flash-info
  color: green
  border-color: green
    

.errors 
  color: red
  input, select, textarea
    border-color: red
    
  .error-list
    font-size: 85%
    color: red
      
    li
      display: block
      white-space: normal

ul.filtered
  border: 1px solid lightGrey
  padding: 4px
  height: 270px
  overflow: auto
  
  li
    display: block
    white-space: nowrap
    
    span
      color: grey
      
  li:hover
    background-color: yellow
    
#cost
  #top
    margin-bottom: 10px
    
#cost #center table
  tbody th.header
    background-color: white
    border: 1px solid #CCCCCC
    font-weight: bold
    
  tbody th.label, thead th.empty
    width: 500px    

  thead th, td
    text-align: right
    
  .explanation-row div.explanation-cell
    background-color: white
    border: 1px solid #CCCCCC
    
    table
      margin-bottom: 0px
      margin-top: 4px
      
    th
      width: 480px
      
#maps
  height: 100%
  
  #top
    margin-bottom: 10px
      
  #center
    height: 100%
    
    #map_canvas
      height: 650px
      width: 100%
  	    
    #maps-explanation
      width: 958px
      margin-bottom: 8px
  	    
#dashboard
  #corner
    width: 116px
    float: left
    margin-right: 10px
    
    h5
      float: left
      
    .dropdown
      float: right

  #top
    width: 822px
    float: left
    margin-bottom: 10px
    .float
      +float-left

    ul
      +horizontal-list
    h5
      margin-bottom: 0px
        
  #bottom
    #left
      width: 144px
      float: left
      
      div
        float: left
        width: 116px
        margin-bottom: 10px
        margin-right: 10px

        li
          display: block
            
#dashboard #center
  width: 822px
  float: left
  
  #values
    width: 100%
    float: left

  #values > table 
    &> thead, &> tbody
      &> tr > th, &> tr > td
        margin: 0
        padding: 0
  
    .explanation-cell
      display: none
      width: 98%
      float: left
      margin-right: 10px
  
  .header .row .cell
    height: inherit
  
  .cell
    width: 73.333px
    float: left
    div
      display: block
      +round-corner(2px)
      height: 2em
      margin:
        top: 2px
        bottom: 2px
        right: 4px

  .cell.value
    cursor: pointer
    text-align: center
  
  .value, .label.left
    span
      top: 25%
      position: relative
    
  .label.top
    text-align: center
    div
      height: auto

  .label.left
    width: 140px


#add-expression
  .row
    width: 290px
    
  input, textarea 
    width: 280px
    
  input.radio
    width: auto
  
    label
      font-weight: bold
      margin-bottom: 2px
    
    #data
      width: 600px
      
#add-ramp-up
  .row
    width: 250px
    
  input, textarea 
    width: 240px


body a.no-link, body a.no-link:active, body a.no-link:visited
  text-decoration: none
  color: black
    
#dsr
  #values
    overflow: auto
  #top
    margin-bottom: 10px
  #facility-type-filter
    float: right
  table
    margin-bottom: 0px
    margin-top: 4px
    width: 95% 
    margin: 0 auto
  th
    font-weight: bolder
    text-align: center
  td
    background-color: #ffffff
    
  .parent-row
    background-color: #ff66cc
    border: 1px solid #a3a3a3
    color: #fff
     
  .box-dsr-value
    background-color: #ffffff
    border: #cccccc solid
    border-width: 0px 1px 1px 0px
    text-align: right
    
  .box-dsr-organisation
    background-color: #cccccc
    border: #cccccc solid
    border-width: 0px 1px 1px 0px
    text-align: left
    
  .object-name-box
    width: 70px
    font-weight: bolder
    
  .title-th
    width: 10px
    color: #ffffff
    background-color: #a3a3a3
    border: #ffffff solid
    border-width: 1px 1px 1px 0px
    vertical-align: bottom
    a
      font-size: 10px
      font-weight: normal
          
//Main menu
#navigation
  margin: 0px
  width: 100%
  background: #739eee
  a
    color: #ffffff
    
#main-menu
  margin: 0 
  padding: 0 
  list-style: none	
  li
    float: left 
    display: block
    width: 120px 
    background: #739eee
    position: relative
    z-index: 500 
    margin: 0 1px
    border-left: 1px #fff solid
    border-right: 1px #fff solid
    a
      display: block 
      padding: 5px 0px 5px 5px 
      font-weight: bold 
      text-decoration: none 
      color: #fff 
      text-align: left
    a:hover
      color: #fff
      background: #73A6ff	
  ul
    position: absolute 
    left: 0 
    display: none 
    margin: 0 0 0 -1px 
    padding: 0 
    list-style: none
    li
      float: left 
      border-top: 1px solid #fff
      width: 200px 
      border-left: 0px #fff solid
      a
        display: block  
        padding: 5px 0px 5px 5px 
        color: #fff	
      a:hover
        text-decoration: underline
     
#survey
  .rounded-box-top
    +white-box
    padding : 5px
    margin-top: 8px
    margin-bottom: 2px
    +top-round-corner(5px)
      
  .rounded-box-bottom
    +white-box
    padding : 5px
    margin-bottom: 8px
    margin-top: 2px
    +bottom-round-corner(5px)
    
  .grey-rounded-box-top
    +grey-box
    +top-round-corner(5px)
    padding: 3px
    
  .grey-rounded-box-bottom
    +grey-box
    +bottom-round-corner(5px)
    padding: 3px

  // TODO check this
  #survey-header
    margin-bottom: 2px
  
    div.filter
      margin-right: 100px

  #survey-summary
    +white-box
    table thead th
      padding-bottom: 8px 
      
    table th
      font-weight: bold
    
    table td
      padding-top: 1px
      padding-bottom: 1px

  #survey-menu
    position: absolute

  #incomplete-sections-container ul
    margin: 0
      
  ol#questions
    padding-left: 20px
    // list-style-type: katakana-iroha
    font-weight: bold
      
  .skipped
    background-color: lightGrey
      
  span.survey-old-value
    font-size: 90%
    color: grey
    
  .question-table span.survey-old-value
    display: block
    text-align: center
      
  div.element, div.survey-element
    display: inline

  .question-simple div.element-enum
    display: block

  .question-number
    font-weight: bold
    display: inline
          
  .question
    margin-bottom: 20px 
    font-weight: normal
          
  .question-container.skipped
    display: none
    
  #invalid-questions-container .question.errors, .question-table.errors, .question-checkbox.errors
    color: inherit
    input, select, textarea
      border-color: inherit
      
  .question-table
    .question-table-container
      overflow: auto
  
    input
      width: 80px
  
    table
      max-width: 700px
      margin: 10px 0px 1px 0px
      paddind: 1px
      
      div.element
        display: block
        
      thead th
        text-align: center
    
    td
      padding: 0px
      border-bottom: 1px solid #d3d3d3
    
    td div.element
      padding: 4px 10px 4px 5px
      
    td div.skipped
      padding: 15px
      
      input, select
        display: none
        
    .oddrow
      background-color: #eee
      
    .evenrow
      background-color: #fff
        
  div.element-string
    display: block
     
  .element-string .survey-old-value
    display: block

  .question-table table th, .element-map .element-map-header
    border-left: 1px solid white
    font-weight: normal
    background: #3b84c9
    color: #fff

  .element-list .element-map 
    .element-map-body, .element-map-header
      width: 100px
      
  div.element-list
    margin: 10px 0px 1px 0px
    display: table
        
    .element-map
      display: table-row
      float: left
    
      .element-map-header, .element-map-body
        display: table-cell
        padding: 4px 10px 4px 5px
        border-bottom: 1px solid #d3d3d3

        select, input
          width: 98px
          
  .element-list .element-list-header
    .element-number, .elemement-string, .element-date, .element-bool, .element-enum
      display: none
          
  .element-list .element-list-header .element-map .element-map-body
    display: none
    
  .element-list .element-list-body .element-map .element-map-header
    display: none
    
  div.element-map
    display: block
    
    div, .element
      display: inline 
        
  .question-checkbox
    .skipped
      display: none
  
    ul
      margin-left: 0px
      padding-left: 0px
      margin-top: 4px
      list-style-type: none
      
    li div.element input
      float: left
      
    div.error-list
      float: left
      position: absolute
      margin-top: 12px
    
  .question-tab-title
    border-left: 1px solid #fff
                  
  #survey-objective-list 
    list-style-type: none
    margin: 0
    padding: 0
    width: 197px
    a
      display: block
      text-decoration: none
      font-weight: bold	
      position: relative
      
    li
      margin-top: 1px
      
      .item
        background: #739eee
        padding: 0.5em
        color: #fff

      .item-status
        position: absolute
        right: 0px

        span
          display: block
          width: 16px
          height: 16px
          
          &.hidden
            display: none
      
        .section-status-incomplete, .objective-status-incomplete

        .section-status-complete, .objective-status-complete
          background-image: url('../images/icons/positive_16.png')
        .section-status-invalid, .objective-status-invalid
          background-image: url('../images/icons/negative_16.png')
        .section-status-closed, .objective-status-closed
          background-image: url('../images/icons/check_16.png')
        // .section-status-unavailable, .objective-status-unavailable
        //  background-image: url('../images/icons/cancel_16.png')
        
      
      .item:hover
        background: #73A6ff

    ul 
      list-style-type: none
      margin: 0
      padding: 0
      width: 197px
      li
        margin-top: 1px
        
        .item
          display: block 
          background: #f0f4fd
          border: 1px #fff solid 
          border-left: 5px #73A6ff solid
          padding-left: 15px
          color: #333

        .item:hover
          background: #fff
          border: 1px #739eee solid 
          border-left: 5px #739eee solid
          
        .opened
          background: #dbfbde
          border-left: 5px #c32e06 solid
          

#add-question
  input.radio
    width: auto
    
  #data
    width: 400px
  .question-explainer
    text-decoration: none
    
#question-option
  table
  border-collapse: separate 
  border-spacing: 4px
  td
    border: 1px solid #c7c7c7
    +round-corner
    .option-element
      font-weight: bold
      span
        font-weight: normal   
            
#add-option
  input.radio
    width: auto
  #data
    width: 400px
  .question-explainer
    text-decoration: none
     
#add-row
  input.radio
    width: auto
  #data
    width: 400px
  .question-explainer
    text-decoration: none

