<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
<!-- 	    <mapping class="org.chai.kevin.Translation" /> -->
	    
	    <mapping class="org.chai.kevin.data.Expression" />
	    <mapping class="org.chai.kevin.data.Calculation" />
	    <mapping class="org.chai.kevin.data.Average" />
	    <mapping class="org.chai.kevin.data.Sum" />
	    <mapping class="org.chai.kevin.data.RawDataElement" />
	    <mapping class="org.chai.kevin.data.Enum" />
	    <mapping class="org.chai.kevin.data.EnumOption" />
<!-- 		<mapping class="org.chai.kevin.data.Constant" /> -->
		
	    <mapping class="org.chai.kevin.value.RawDataElementValue" />
	    <mapping class="org.chai.kevin.value.NormalizedDataElementValue" />
	    <mapping class="org.chai.kevin.value.AggregationPartialValue" />
	    <mapping class="org.chai.kevin.value.SumPartialValue" />
	    <mapping class="org.chai.kevin.value.AveragePartialValue" />

	    <mapping class="org.chai.kevin.dashboard.DashboardTarget" />
	    <mapping class="org.chai.kevin.dashboard.DashboardObjective" />
	    <mapping class="org.chai.kevin.dashboard.DashboardObjectiveEntry" />
	    
	    <mapping class="org.chai.kevin.cost.CostObjective" />	
	    <mapping class="org.chai.kevin.cost.CostRampUp" />	
	    <mapping class="org.chai.kevin.cost.CostRampUpYear" />	
	    <mapping class="org.chai.kevin.cost.CostTarget" />	
	
	    <mapping class="org.chai.kevin.dsr.DsrTarget"/>
		<mapping class="org.chai.kevin.dsr.DsrObjective"/>	
		<mapping class="org.chai.kevin.dsr.DsrTargetCategory"/>	
	
	    <mapping class="org.chai.kevin.fct.FctTarget"/>
		<mapping class="org.chai.kevin.fct.FctObjective"/>	
	
	    <mapping class="org.chai.kevin.maps.MapsTarget" />	
	
        <mapping class="org.chai.kevin.survey.Survey" />
		<mapping class="org.chai.kevin.survey.SurveyObjective" />
		<mapping class="org.chai.kevin.survey.SurveySection" />
		<mapping class="org.chai.kevin.survey.SurveyElement" />
		<mapping class="org.chai.kevin.survey.SurveyQuestion" />
		<mapping class="org.chai.kevin.survey.SurveySimpleQuestion" />
		<mapping class="org.chai.kevin.survey.SurveyCheckboxQuestion" />
		<mapping class="org.chai.kevin.survey.SurveyCheckboxOption" />
		<mapping class="org.chai.kevin.survey.SurveyTableQuestion" />
		<mapping class="org.chai.kevin.survey.SurveyTableColumn" />
		<mapping class="org.chai.kevin.survey.SurveyTableRow" />
		<mapping class="org.chai.kevin.survey.SurveyValidationRule" />
		<mapping class="org.chai.kevin.survey.SurveySkipRule" />
	
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredValue" />
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredQuestion" />
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredSection" />
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredObjective" />
		<mapping class="org.chai.kevin.survey.validation.SurveyLog" />
		
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnit.hbm.xml" />
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnitGroup.hbm.xml" />
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnitGroupSet.hbm.xml" />
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnitLevel.hbm.xml" />
		<mapping resource="org/hisp/dhis/period/hibernate/Period.hbm.xml" />
		<mapping resource="org/hisp/dhis/period/hibernate/PeriodType.hbm.xml" />

	</session-factory>

</hibernate-configuration>
