<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
	    <mapping class="org.chai.kevin.Translation" />
	    
	    <mapping class="org.chai.kevin.data.Data" />
	    <mapping class="org.chai.kevin.data.Expression" />
	    <mapping class="org.chai.kevin.data.Calculation" />
	    <mapping class="org.chai.kevin.data.DataElement" />
	    <mapping class="org.chai.kevin.data.Enum" />
	    <mapping class="org.chai.kevin.data.EnumOption" />
		<mapping class="org.chai.kevin.data.Constant" />
		
		<mapping class="org.chai.kevin.value.Value" />
	    <mapping class="org.chai.kevin.value.DataValue" />
	    <mapping class="org.chai.kevin.value.ExpressionValue" />
	    <mapping class="org.chai.kevin.value.CalculationValue" />
	
	    <mapping class="org.chai.kevin.dashboard.DashboardEntry" />
	    <mapping class="org.chai.kevin.dashboard.DashboardTarget" />
	    <mapping class="org.chai.kevin.dashboard.DashboardObjective" />
	    <mapping class="org.chai.kevin.dashboard.DashboardObjectiveEntry" />
	    
	    <mapping class="org.chai.kevin.cost.CostObjective" />	
	    <mapping class="org.chai.kevin.cost.CostRampUp" />	
	    <mapping class="org.chai.kevin.cost.CostRampUpYear" />	
	    <mapping class="org.chai.kevin.cost.CostTarget" />	
	
	    <mapping class="org.chai.kevin.dsr.DsrTarget"/>
		<mapping class="org.chai.kevin.dsr.DsrObjective"/>	
		<mapping class="org.chai.kevin.dsr.DsrTargetCategory"/>	
	
	    <mapping class="org.chai.kevin.maps.MapsTarget" />	
	
        <mapping class="org.chai.kevin.survey.SurveyTranslatable" />
        <mapping class="org.chai.kevin.survey.Survey" />
		<mapping class="org.chai.kevin.survey.SurveyObjective" />
		<mapping class="org.chai.kevin.survey.SurveySection" />
		<mapping class="org.chai.kevin.survey.SurveyElement" />
		<mapping class="org.chai.kevin.survey.SurveyQuestion" />
		<mapping class="org.chai.kevin.survey.SurveySimpleQuestion" />
		<mapping class="org.chai.kevin.survey.SurveyCheckboxQuestion" />
		<mapping class="org.chai.kevin.survey.SurveyCheckboxOption" />
		<mapping class="org.chai.kevin.survey.SurveyTableQuestion" />
		<mapping class="org.chai.kevin.survey.SurveyTableColumn" />
		<mapping class="org.chai.kevin.survey.SurveyTableRow" />
		<mapping class="org.chai.kevin.survey.SurveyValidationRule" />
		<mapping class="org.chai.kevin.survey.SurveyValidationMessage" />
		<mapping class="org.chai.kevin.survey.SurveySkipRule" />
	
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredValue" />
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredSection" />
		<mapping class="org.chai.kevin.survey.validation.SurveyEnteredObjective" />
		

		<!-- <mapping package='com.books' /> <mapping class='com.books.Book' /> 
			<mapping resource='someresource.hbm.xml'/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElement.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementCategoryCombo.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementCategory.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementCategoryOption.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementCategoryOptionCombo.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/concept/hibernate/Concept.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementGroup.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementGroupSet.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataset/hibernate/DataSet.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataset/hibernate/Section.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataentryform/hibernate/DataEntryForm.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/DataElementOperand.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/source/hibernate/Source.hbm.xml"/> -->

		<!-- <mapping resource="org/hisp/dhis/user/hibernate/User.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/user/hibernate/UserAuthorityGroup.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/user/hibernate/UserCredentials.hbm.xml"/> -->

		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnit.hbm.xml" />
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnitGroup.hbm.xml" />
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnitGroupSet.hbm.xml" />
		<mapping resource="org/hisp/dhis/organisationunit/hibernate/OrganisationUnitLevel.hbm.xml" />

		<!-- <mapping resource="org/hisp/dhis/indicator/hibernate/Indicator.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/indicator/hibernate/IndicatorType.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/indicator/hibernate/IndicatorGroupSet.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/indicator/hibernate/IndicatorGroup.hbm.xml"/> -->

		<mapping resource="org/hisp/dhis/period/hibernate/Period.hbm.xml" />
		<mapping resource="org/hisp/dhis/period/hibernate/PeriodType.hbm.xml" />
		<!-- <mapping resource="org/hisp/dhis/datavalue/hibernate/DataValue.hbm.xml"/> -->

		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/Enum.hbm.xml"/> -->
		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/EnumOption.hbm.xml"/> -->

		<!-- <mapping resource="org/hisp/dhis/dataelement/hibernate/Constant.hbm.xml"/> -->

	</session-factory>

</hibernate-configuration>
